
.section-template--18096157163751__image_with_text_dUNTxR-padding .image-with-text {
  background-color: #F9F2E7 ;
}
.image-with-text__heading.h1{
  font-size: 48px;
  line-height: 120%;
  /* font-family: "FreightDispProBold_Regular" !important; */
}
.image-with-text__text.rte.body{
  font-size: 18px;
  color: #241E19;
  /* font-family: "Geist-Regular" !important; */
  
}
a.button.button--primary{
  font-size: 16px;
  line-height: 150%;
  
}

